<!-- "Load static que permite y funciona para leer archivos extraídos" -->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

    <!-- "Muestra el ícono de la página web" -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.jpg' %}">
    <link rel="apple-touch-icon" type="image/jpg" href="{% static 'images/icon.jpg' %}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animes y Mangas | Shueisha</title> <!-- Título que se muestra en la pestaña -->

    <!-- Fuentes de google utilizadas -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles utilizados -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'main:home' %}"> <!-- Al seleccionar el logo de la página web, lleva al inicio nuevamente -->
                            <img src="{% static 'img/logo.png' %}" alt=""> <!-- Muestra el logo de la página web -->
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="{% url 'main:home' %}">Inicio</a></li> <!-- Muestra la página de inicio de la página web -->
                                <li><a href="{% url 'main:categorie' %}">Categorías <span class="arrow_carrot-down"></span></a> <!-- Despliega las categorías visibles en la página web -->
                                    <ul class="dropdown">
                                        <li><a href="{% url 'main:categorie' %}">Categorías</a></li> <!-- Muestra las categorías de animes y mangas de la página web -->
                                        <li><a href="{% url 'main:reviews' %}">Anime a detalle</a></li> <!-- Muestra la información detallada de un anime de la página web -->
                                        <li><a href="{% url 'main:watching' %}">Animes Vistos</a></li> <!-- Muestra un anime visto en la página web -->
                                        <li><a href="{% url 'main:detail' %}">Blog a detalle</a></li> <!-- Muestra un blog a detalle de la página web -->
                                    </ul>
                                </li>
                                <li><a href="{% url 'main:blogs' %}">Nuestro Blog</a></li> <!-- Muestra los blogs disponibles de la página web -->
                                <li><a href="{% url 'main:contact' %}">Tu Blog</a></li> <!-- Permite al usuario agregar su blog o comentarios al respecto -->
                               
                                <li><a href="">Cuenta <span class="arrow_carrot-down"></span></a> <!-- Despliega los inicio de sesión en la página web -->
                                    <ul class="dropdown">
                                        <li><a href="{% url 'main:register' %}">Regístrate</a></li> <!-- Envía a la página de registro del usuario -->
                                        <li><a href="{% url 'main:login' %}">Inicia sesión</a></li> <!-- Envía a la página de inicio de sesión del usuario -->
                                        <li><a href="{% url 'main:logout' %}">Cierra sesión</a></li> <!-- Cierra la sesión del usuario -->
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="{% url 'main:login' %}"><span class="icon_profile"></span></a> <!-- Al seleccionar el ícono, envía a la sección de inicio de sesión -->
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'main:home' %}"><i class="fa fa-home"></i> Inicio</a> <!-- Muestra la página de inicio de la página web -->
                        <a href="{% url 'main:categorie' %}">Categorías</a> <!-- Muestra las categorías de animes y mangas de la página web -->
                        <span>Shounen</span> <!-- Despliega un anime/manga perteneciente a la categoría de Shounen -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <!-- Muestra dicho anime junto a su imagen, comentarios, vistas, nombre en inglés y japonés, votos, descripción y más -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{% static 'img/anime/details-pic.jpg' %}">
                            <div class="comment"><i class="fa fa-comments"></i> 150M</div>
                            <div class="view"><i class="fa fa-eye"></i> 516M</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>One Piece</h3>
                                <span>ワンピース, Wan Pīsu</span>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <span>9.999 Votos</span>
                            </div>
                            <p>Una historia épica de piratas, donde narra la historia de "Monkey D. Luffy" 
                                quien cuando tenía 7 años, comió accidentalmente una "Akuma no mi"(Fruta del diablo) 
                                la cual le convirtió en un hombre de goma. Por otra parte "Gol D. Roger" conocido como 
                                "El rey de los Piratas" quien fuera ejecutado por la Marine, habló antes de morir, 
                                acerca de su mayor tesoro, el "One Piece" escondido en la "Gran line". Esta noticia 
                                desató la gran era de los piratas lanzando a incontables piratas a ese lugar, en busca 
                                del "One Piece" el tesoro perdido. Diez años después, Luffy inspirado en "Gol D. Roger" 
                                y un pirata de nombre Akagami no Shanks (Shanks el pelirrojo) se convierte en pirata 
                                deseando ser el próximo "Rey de los Piratas" y zarpar para conocer amigos y tener aventuras 
                                con ellos, teniendo como meta encontrar el "One Piece".</p>
                            <div class="anime__details__widget"> <!-- Otros detalles a profundidad -->
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Tipo:</span> Serie</li>
                                            <li><span>Estudio:</span> Toei Animation</li>
                                            <li><span>Emitido:</span> Oct 20, 1999 a ?</li>
                                            <li><span>Estado:</span> En emisión</li>
                                            <li><span>Genero:</span> Fantasía, Shounen, Comedia, Aventura, Acción</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Puntuación:</span> 9.39 / 1,515</li>
                                            <li><span>Rating:</span> 9.0 / 140 veces</li>
                                            <li><span>Duración:</span> 24 min/ep</li>
                                            <li><span>Calidad:</span> HD</li>
                                            <li><span>Vistas:</span> 9,202,195</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> ¡Síguelo!</a>
                                <a href="#" class="watch-btn"><span>¡Descúbrelo!</span> <i
                                    class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime__details__review">
                            <div class="section-title">
                                <h5>Reviews</h5> <!-- Sección de reviews por los usuarios con su avatar, nombre, fecha de publicación y comentario -->
                            </div>
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="{% static 'img/anime/review-1.jpg' %}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>Javier Espinoza - <span>Hace 7 horas</span></h6>
                                    <p>Fue muy bueno este episodio, sin palabras lo que hizo Toei y es digno de aplaudir</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="{% static 'img/anime/review-2.jpg' %}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>Kageyama Tobio - <span>Hace 4 horas</span></h6>
                                    <p>Pero que locura de capitulo por Dios santo</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="{% static 'img/anime/review-3.jpg' %}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>David Rodríguez - <span>Hace 3 horas</span></h6>
                                    <p>Uffff tremendo capítulo de lo mejor</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="{% static 'img/anime/review-4.jpg' %}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>Ezequiel Martínez - <span>Hace 1 hora</span></h6>
                                    <p>No tiene sentido lo EPICO que está este capítulo</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="{% static 'img/anime/review-5.jpg' %}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>Angelica María Correa - <span>Hace 1 hora</span></h6>
                                    <p>Es inexplicable los escalofríos que he tenido en este episodio, cada vez sigo y sigo diciendo que one piece es el mejor anime del mundo muchas gracias afición</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="{% static 'img/anime/review-6.jpg' %}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>Aderling Sánchez - <span>Hace 25 minutos</span></h6>
                                    <p>El mejor Shounen</p>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Tu Comentario</h5> <!-- Posibilidad al usuario de realizar su review -->
                            </div>
                            <form action="{% url 'main:upload' %}">
                                <textarea placeholder="Si deseas realizar una review, selecciona 'Review'"></textarea>
                                <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                            </form>
                        </div>
                    </div>

                    <!-- Sección que muestra recomendaciones de animes o mangas junto a su imagen, cantidad de episodios, 
                        vistas y nombre -->
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>también te podría gustar...</h5> 
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="{% static 'img/sidebar/tv-1.jpg' %}">
                                <div class="ep">1059 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 516M</div>
                                <h5><a href="{% url 'main:watching' %}">One Piece</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="{% static 'img/sidebar/tv-2.jpg' %}">
                                <div class="ep">87 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 350M</div>
                                <h5><a href="{% url 'main:watching' %}">Dragon Ball Super</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="{% static 'img/sidebar/tv-3.jpg' %}">
                                <div class="ep">205 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 150M</div>
                                <h5><a href="{% url 'main:watching' %}">Kimetsu no Yaiba</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="{% static 'img/sidebar/tv-4.jpg' %}">
                                <div class="ep">356 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 65M</div>
                                <h5><a href="{% url 'main:watching' %}">Boku no Hero Academia</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Anime Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="page-up">
                <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer__logo">
                            <!-- Al seleccionar el logo de la página web, lleva al inicio nuevamente -->
                            <a href="{% url 'main:home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a> <!-- Muestra el logo de la página web -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer__nav">
                            <ul>
                                <li class="active"><a href="{% url 'main:home' %}">Inicio</a></li> <!-- Muestra la página de inicio de la página web -->
                                <li><a href="{% url 'main:categorie' %}">Categorías</a></li> <!-- Muestra las categorías de animes y mangas de la página web -->
                                <li><a href="{% url 'main:blogs' %}">Nuestro Blog</a></li> <!-- Muestra los blogs disponibles de la página web -->
                                <li><a href="{% url 'main:contact' %}">Tu Blog</a></li> <!-- Permite al usuario agregar su blog o comentarios al respecto -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <B><FONT COLOR="white">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Animes y Mangas | Shueisha <i class="fa fa-heart" aria-hidden="true"></i> por: <a href="" target="_blank"> Keily Marín</a></FONT></B>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                      </div>
                  </div>
              </div>
          </footer>
          <!-- Footer Section End -->

          <!-- Search model Begin -->
          <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Busca aquí....."> <!-- Simula poder realizar una busqueda en la página web -->
                </form>
            </div>
        </div>
        <!-- Search model end -->

        <!-- Js Plugins utilizados -->
        <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'bootstrap.min.js' %}"></script>
        <script src="{% static 'player.js' %}"></script>
        <script src="{% static 'jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'mixitup.min.js' %}"></script>
        <script src="{% static 'jquery.slicknav.js' %}"></script>
        <script src="{% static 'owl.carousel.min.js' %}"></script>
        <script src="{% static 'main.js' %}"></script>

    </body>

    </html>